<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>comentarios</title>
    </head>
    <body>
        <h1>un alumno y sus mensas (comentarios)</h1>
        <h1>{{objeto.nombre}}</h1
        <hr>
        <ul>
        {% for i in objeto.frase_set.all %}
        <li> {{i.comentario}} </li>
        {% endfor %}
        </ul>
        <script src="{% static 'script.js' %}"></script> 
    </body>
</html>
    
