<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static  'estilos.css'%}">
        <title>jajaja dani</title>
    </head>
    <body>
        <h1>listado de alumnos </h1>
        <hr>
        <ul>
        {% for i in misalumnos %}
        <li> <a href="alumno/{{i.id}}">{{i.nombre}}</a></li>
        
        {% endfor %}
        </ul>
        <script src="{% static 'script.js' %}"></script> 
    </body>
</html>
    
